<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tecnm_campus_uruapan.graduationitsuscanqr">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GraduationITSUScanQR">
        <activity android:name="com.tecnm_campus_uruapan.graduationitsuscanqr.NewGenerationActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.tecnm_campus_uruapan.graduationitsuscanqr.ManagementActivity"></activity>
        <activity android:name="com.tecnm_campus_uruapan.graduationitsuscanqr.SecurityActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tecnm_campus_uruapan.graduationitsuscanqr.AddAndUpdateActivity"
            android:parentActivityName="com.tecnm_campus_uruapan.graduationitsuscanqr.ManagementActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tecnm_campus_uruapan.graduationitsuscanqr.ManagementActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.tecnm_campus_uruapan.graduationitsuscanqr.MainActivity"/>
        <activity android:name="com.tecnm_campus_uruapan.graduationitsuscanqr.SplashActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.tecnm_campus_uruapan.graduationitsuscanqr.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tecnm_campus_uruapan.graduationitsuscanqr.helpers.CaptureActivityPortrait"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>